PORT=8000
MONGODB_URI=mongodb://<username>:<password>@host-00-00.mongodb.net:27017,host-00-01.mongodb.net:27017,host-00-02.mongodb.net:27017/dashboard?ssl=true&replicaSet=<replica-set>&authSource=admin&retryWrites=true&w=majority&appName=dashboard-cluster
CLIENT_URL=http://localhost:5173
